# Python Virtual Environments
venv/
.venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/

# Environment variables
.env
.env.*

# IDE and Editor Folders
.vscode/
.idea/

# MyPy, Pyre, Ruff Caches
.mypy_cache/
.pyre/
.ruff_cache/